body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: aliceblue;
    color: #231F20;
}

.titleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.maskotImg {
    width: 70px;
}

h1 {
    font-family: "Kablammo", serif;
    font-size: 40px;
    background-image: linear-gradient(90deg, red, green);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorShift 1s infinite alternate;
    margin: 0;
}

@keyframes colorShift {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

#sheetLinkInput {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#uploadBtn {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #008736;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.sheet-dates {
    display: flex;
    align-items: center;
    gap: 4px;
}

#selectContainer {
    margin-bottom: 10px;
    display: none;
}

.select-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px
}

select {
    padding: 8px;
    margin-bottom: 3px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: medium;
}

.loader {
    flex: 1 0 auto;
    display: flex;
    position: relative;
    overflow: hidden;
}

.loader>span {
    font-size: 24px;
    position: absolute;
    left: -120px;
    top: 0;
    animation: fly 5s ease infinite;
}

@keyframes fly {
    0% {
        top: 0;
        left: -120px;
    }

    44% {
        left: 49%;
    }

    55% {
        top: 0;
        left: 50%;
    }

    100% {
        top: 24px;
        left: calc(100% + 120px);
    }
}

.loader>span:nth-child(1) {
    animation-delay: 1.8s;
    transform: translateX(-90px);
}

.loader>span:nth-child(2) {
    animation-delay: 1.5s;
    transform: translateX(-60px);
}

.loader>span:nth-child(3) {
    animation-delay: 1.2s;
    transform: translateX(-30px);
}

.loader>span:nth-child(4) {
    animation-delay: .9s;
    transform: translateX(0);
}

.loader>span:nth-child(5) {
    animation-delay: .6s;
    transform: translateX(30px);
}

.loader>span:nth-child(6) {
    animation-delay: .3s;
    transform: translateX(60px);
}

.loader>span:nth-child(7) {
    animation-delay: 0s;
    transform: translateX(90px);
}


.error {
    color: red;
    margin-top: 20px;
}

.days {
    display: flex;
}

@media (orientation: landscape) {
    .days {
        gap: 6px;
    }
}

@media (orientation: portrait) {
    .days {
        justify-content: space-between;
    }
}

.days input.today:not(:checked)+label {
    box-shadow: 0 0 0 1px #1B75D0;
}

.date-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gainsboro;
}

.date-icon.early {
    background-color: #FFC000;
}

.date-icon.late {
    background-color: #E80000;
}

.date-icon.normal {
    background-color: #00A000;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.flex {
    display: flex;
}

.flex-stretch {
    flex: 1 0 auto;
}

.gap-4 {
    gap: 4px;
}

.gap-8 {
    gap: 8px;
}