.days>div {
  width: 60px;
  height: 50px;
  position: relative;
}

.days label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.days input[type="radio"] {
  visibility: hidden;
  margin: 0;
}

.days input[type="radio"]:checked+label {
  background: #1B75D0;
  color: white;
}

@media (pointer: fine) {
  .days input[type="radio"]:checked+label:hover {
    background: #155CA2;
  }

  .days input[type="radio"]:checked+label:active {
    background: #0C3B6A;
  }
}

.days input[type="radio"]:not(:disabled)+label {
  cursor: pointer;
}

.days input[type="radio"]:disabled+label {
  color: #D0D0D0;
  border-color: #E0E0E0;
}

.days label {
  padding: 5px;
  z-index: 90;
  border-radius: 6px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #B8CCE0;
}

.days input[type="radio"]:not(:disabled):not(:checked)+label:hover {
  background: #CEE6FF;
}

.days input[type="radio"]:not(:disabled):not(:checked)+label:active {
  background: #BED2E5;
}

.meal {
  display: flex;
  align-items: flex-start;
}

.meal>input {
  flex: 0 0 auto;
  cursor: pointer;
  padding-top: 10px;
}

.meal>label {
  flex: 1 1 auto;
  cursor: pointer;
  padding: 10px 0 10px 10px;
}

.meal input[type="checkbox"] {
  position: relative;
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  width: 22px;
  height: 20px;
  transform: translateY(-0.35em) translateY(10px);
}

.meal input[type="checkbox"]::before {
  position: absolute;
  top: 0;
  content: attr(icon);
  font-size: 20px;
}

input[type="checkbox"]:checked {
  opacity: .5;
}

.meal input[type="checkbox"]:checked+label {
  text-decoration: line-through;
  color: #A2A6A9;
}