.rect-radios input[type="radio"] {
  display: none;
  margin: 0;
}

.rect-radios label {
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.rect-radios input:not(:disabled)+label {
  cursor: pointer;
}

.days>div {
  width: 60px;
  height: 50px;
}

.days input[type="radio"]:checked+label {
  background: #1B75D0;
  color: white;
}

@media (pointer: fine) {
  .days input[type="radio"]:checked+label:hover {
    background: #155CA2;
  }

  .days input[type="radio"]:checked+label:active {
    background: #0C3B6A;
  }
}

.days input[type="radio"]:disabled+label {
  color: #D0D0D0;
  border-color: #E0E0E0;
}

.days label {
  border-radius: 6px;
  border: 1px solid #B8CCE0;
}

.days input[type="radio"]:not(:disabled):not(:checked)+label:hover {
  background: #CEE6FF;
}

.days input[type="radio"]:not(:disabled):not(:checked)+label:active {
  background: #BED2E5;
}

.meal {
  display: flex;
  align-items: flex-start;
  font-size: 20px;
}

.meal>input {
  flex: 0 0 auto;
  cursor: pointer;
  padding-top: 10px;
}

.meal>label {
  flex: 1 1 auto;
  cursor: pointer;
  padding: 10px 0 10px 10px;
}

.meal input[type="checkbox"] {
  position: relative;
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  width: 22px;
  height: 20px;
  transform: translateY(-0.075em) translateY(10px);
}

.meal input[type="checkbox"]::before {
  position: absolute;
  top: 0;
  content: attr(icon);
  font-size: 20px;
}

input[type="checkbox"]:checked {
  opacity: .5;
}

.meal input[type="checkbox"]+label div:last-child {
  font-size: 18px;
  color: #667;
  margin: 0.2rem 0 0;
}

.meal input[type="checkbox"]:checked+label div {
  text-decoration: line-through;
  color: #A2A6A9;
}

.sheet-date {
  position: relative;
  width: 50px;
  height: 50px;
}

.sheet-date>div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -9999;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: white;
}

.sheet-date .header {
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-bottom: 2px;
}

.sheet-date .header:first-letter {
  text-transform: uppercase;
}

.sheet-date .content {
  display: flex;
  align-items: end;
  justify-content: center;
  flex: 1 0 auto;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -2px;
}

.sheet-date.early input[type="radio"]:not(:checked)~div .content {
  color: #F9B330;
}

.sheet-date.normal input[type="radio"]:not(:checked)~div .content {
  color: #58B32C;
}

.sheet-date.late input[type="radio"]:not(:checked)~div .content {
  color: #D20D0E;
}

.sheet-date.early input[type="radio"]:checked~div {
  background-color: #eeb509;
  color: white;
}

.sheet-date.normal input[type="radio"]:checked~div {
  background-color: #28a745;
  color: white;
}

.sheet-date.late input[type="radio"]:checked~div {
  background-color: #dc3545;
  color: white;
}